.box {
    width: 80px;
    height: 80px;
    display: none;
    background-color: green;
}

#panel, #topbar {
    padding: 5px;
    text-align: center;
    background-color: gray;
    border: 1px solid black;
}

#panel {
    padding: 80px;
    display: none;
}

.absolute {
    position: absolute;
}

.block {
    display: block;
    margin: 10px auto;
    position: relative;
}

.free-space {
    margin: 10px 0px;
}

.visible {
    display: block;
}

.class-heading {
    color: blue;
}

.class-para {
    color: green;
}

.big-heading {
    font-size: 2em;
}
